div/* Block principal */
	{
		/* Block de 100% centré au milieu */
		display: block; /* créé une zone */
		width: 100%; /* Largeur */
		

	}
	
#div2/* Fond hors block */
	{
		/* Ne pas avoir de bors blancs */
		position:absolute; 
		top:0;
		left:0;
		background: fixed center repeat; /* center l'image et la bloquer */
		-webkit-background-size: cover; /* pour Chrome et Safari */
		-moz-background-size: cover; /* pour Firefox */
		-o-background-size: cover; /* pour Opera */
		background-size: cover; /* version standardisée */
		/* Largeur 
		width: 100%; */
		/* Hauteur 
		height: 100%; */
		/* background: no-repeat; ne pas répétr l'image */
	}
	
#nav /* Nav gloval */
{
	display: block;
	position: fixed;
	width: 100%;
	float: left;
	background-color: black;
	float: left;
	border-top:1px solid #9A68E6;
	border-bottom:1px solid #9A68E6;
}

#esp /* a Du nav */
{

	text-decoration: none;
	color: white;
    font-family: Arial black;
}

ul /* Bord du Nav */
{
   margin-right: 10%;
   margin-left: 10%;
   text-align: center;
}

 li /* Alignement du NAV */
{
   display:inline;
   padding:10;
   margin:0;
   width: 25%;
}
	
#esp:hover /* passage souris sur le NAV */
{
   color:white;
   background: #1c001c;
   padding-left:10px;
   border-left:4px solid #9A68E6;
}


#global /* tout les posts */
{
	display: block;
	margin-right: 5%;
	margin-left: 5%;
	width:90%;
}

h1 /* tout les titres */
{
	background-color: black;
	margin-top: 10px;
	color: #9A68E6;
	border-left:15px solid #9A68E6;
	padding: 8px;
	padding-left: 15px;
	font-size: 25px;
	border-top:1px solid #9A68E6;
	border-bottom:1px solid #9A68E6;
	margin-top: 40px;
	margin-bottom: 40px;
}
#Twitch /* section Twitch */
{
	display: block;
	float: left;
	width:100%;
	margin-top: -10px;	
}

#Youtube /* section Youtube */
{
	display: block;
	float: left;
	width:100%;
	margin-top: -10px;
}

#Twitter /* section Twitter */
{
	display: block;
	float: left;
	width:100%;
	margin-top: -10px;

}

#Insta /* section Insta */
{
	display: block;
	float: left;
	width:100%;
	margin-top: -10px;

}


/* tout les flexs */


.flex-container-twitch { /* block entier */
  display: block;

  /* resize: horizontal; /* Agrandir le carré > horizontal ou vertical */
  overflow: hidden; /* les lettres ne depasses pas du cadre */
  display: flex; /* mettre les trucs à coter des autres */
  margin-top: 25px;
  margin-bottom: 25px;
}

.item-twitch { /* item texte twitch */

  /* padding: 0.5em; /* espaces des items */
  width: 50%; /* largeur des items*/
  color: #9A68E6;
  font-family: OCR A Std, monospace; 
  font-size: 35px;
  margin-left: 60px;
  margin-top: -5px;
  overflow: hidden;
}

.item-twitch-v  /* item vidéos  twitch*/
	{
     width: 50%;	 /* largeur des items*/
	 height: 400px;
	 border:5px solid #9A68E6;
	 margin-right: 1.5%;
	 margin-left: 1.5%;
	}
	
.flex-container-youtube { /* block entier */
  display: block;

  /* resize: horizontal; /* Agrandir le carré > horizontal ou vertical */
  overflow: hidden; /* les lettres ne depasses pas du cadre */
  display: flex; /* mettre les trucs à coter des autres */
  margin-top: 25px;
  margin-bottom: 25px;
}

.item-youtube { /* item texte ytb */

  /* padding: 0.5em; /* espaces des items */
  width: 30%; /* largeur des items*/
  color: red;
  font-family: OCR A Std, monospace; 
  font-size: 20px;
  margin: 0px;
  margin-top: 60px;
  padding: 10px;
  overflow: hidden;
  margin-right: 50px;
}

.item-youtube-v  /* item vidéos  ytb*/
	{
     width: 70%;	 /* largeur des items*/
	 height: 400px;
	 margin-left: 50px;
	 border:5px solid red;
	 margin-top: 20px;
	 margin-bottom: 20px;
	}
	
.flex-container-insta {/* block entier */
  display: block;
  /* resize: horizontal; /* Agrandir le carré > horizontal ou vertical */
  overflow: hidden; /* les lettres ne depasses pas du cadre */
  display: flex; /* mettre les trucs à coter des autres */
  margin-top: 25px;
  margin-bottom: 25px;
}

.item-insta { /* item texte insta */

  /* padding: 0.5em; /* espaces des items */
  width: 10%;
  border-right: 5px solid orange; 
  margin: 0px;  
  margin-right: -1px;
  
}

.item-insta-v  /* item vidéos  insta*/
	{
     width: 70%;	 /* largeur des items*/
	 margin-left: 50px;
	 border:5px solid red;
	}
	
.initial {
flex: initial; /* Laisses les items à leurs tailles de base mais peuvent se réduire */
}

.auto { /* Permet de mettre les items sur toute la largeur */
flex: auto;
}

.none { /* les items restent stoiques */
flex: none;
}

/* prenent plus ou moin de longueur selon le nombre */
.four {
  flex: 4; 
}

.two {
  flex: 3;
}

.one {
  flex: 2;
}

#coté
{
	display: inline-block;
	float: right;
	width:20%;	
}

#fin /* global pied de page */
{
	width: 100%;
	float: left;
}

#retour /* Ligne de retour */
{
	color: white; 
	padding-left: 4px;
	border-left: 1px solid white;
	background-color: #060606;
}

a /* retirer le souligné nav1 */
{
	text-decoration:none; 
}

footer /* Pied de page */
	{
		display: block;
		color:white;
		/* Placer texte */
		text-align: center;
		font-style:italic;
		/* Bordur ect.. */
		border-width:1px 0px 1px 0px;
		border-style:solid ;
		border-color:white;
		padding:0 10px; /*marge du texte (intérieur de rectangle)*/
        width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		float:right;
		margin-bottom: 2%;
		margin-top: 25px;
	}
	
img {
	max-width: 100%;
	/* un max-width de 100% forcera les images
	à être soit plus petites que leur conteneur soit de la même largeur. */
}

