a:hover {
	color: #FDBE55;
}

/* menu */
.nav>li>a:hover { 
	color: #FDBE55 !important;
	border-bottom: 0px solid #F0A400 !important;
} 

.navbar .navbar-nav > .active > a {
	color: #000;
	border-bottom: 0px solid #FFF;
}

/* flexslider */
.flex-control-paging li a {
	background: #FDBE55;
}


.testimonial span.author a {
	color: #FDBE55;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #FDBE55;
	box-shadow: 0 0 0 4px #FDBE55;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #F0A400;
	box-shadow: 0 0 0 8px  #FDBE55;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #FDBE55;
}

/* btn */
.btn-theme {
  background: #95cbdd;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #FDBE55;
}
.btn-cta,.btn-cta.btn-lg {
  background: #FDBE55;
  border-color: #95cbdd;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #FDBE55;
}

/* footer */
.social-circle li a {
	background:#FDBE55;
}

a.scrollup{
	background:#FDBE55;
}
